
@import url('../css/s-carrusel.css');
@import url('../css/footer.css');
@import url('../css/menu.css');


/*Google font-family: ...*/
/*Elegante 'Open Sans', sans-serif;-'DM Serif Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:wght@400;500;600;800&display=swap');
/*Como pagar Divertido h3-  'Shrikhand', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/*Como pagar Divertido h3-  'Josefin Sans', sans-serif - 'Tajawal', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Prompt&family=Tajawal:wght@500;900&display=swap');

.container-fluid-custom {
    padding: 0;
    margin: 0;
}


.navbar {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

:root{
    /*carro productos*/
    --main-color: #fd4646;
    --text-color: #171427;
    --bg--color: #fff0f0;
    /*menu*/
    --bgM-color:#343a40;
    --bgM2-color:rgb(39, 43, 48);
    --lu--color: #ffc10797;
    --V-color: #fff0f0;
    /*oferta*/
    /*nosotros-pregunta ferecuente*/
}


 

/*MENU*/
/***************************/

nav  ul {
    list-style: none;/*sacar cualquier estilo por defecto*/
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    
}

nav  ul li ul {
    display: none;
    /*ocultamos el menu*/
    position:relative;
    top: 100%;
    left:0;/**/
}

nav  ul li:hover>ul {
     /* Alinearlo a la izquierda del elemento padre */
    display: block;
    
}

nav  ul li ul li {
    height: 40px;
    width: 300px;
    background-color: #171427cc;
    text-align: start;
    padding-left: 10px;
    line-height: 2;
    z-index: 2; /**/
    
}

nav  ul li ul li a {
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 20px;
}
.dropdown-menu {
    position: absolute;
    z-index: 3; /* Asegura que el submenú esté en un nivel superior */
}
.navbar-nav .nav-link {
    font-size: 20px; /* Tamaño de fuente más grande, ajusta este valor según tu preferencia */
}
/* Submenú estilo neón y fondo al pasar el cursor */
.navbar .dropdown-menu {
    background-color:var(--bgM-color); /* Color de fondo inicial */
    
}


.navbar .dropdown-item {
    color: #dedede; /* Color de texto negro */
    font-size: 20px; /* Tamaño de fuente más grande */
    text-shadow:2px 2px 4px c; /* Sombra de texto en verde */
}

.navbar .dropdown-item {
    transition: background-color 0.3s ease; /* Agregar transición */
}

.navbar .dropdown-item:hover {
    background-color: var(--lu--color); /* Color de fondo al pasar el cursor */
    text-shadow: 2px 2px 4px rgb(26, 27, 27); /* Sombra al pasar el cursor */
}

