@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400; 500; 800&display=swap');

:root {
    --gradiente-color-1: #814C25; /* Primer color, por ejemplo, rojo */
    --gradiente-color-2: #FFDE59; /* Segundo color, por ejemplo, verde */
    --color-texto:#ddd2d2;
    --color-fondo:#091220;
    --color-body:#0D1A2D;

}


body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}


header {
    background-color: #091220;
    color: #ddd2d2;
    /* padding: 12px 0;  altura*/
   
}

.decoracion {
    border-top: 5px solid transparent; /* Borde superior transparente para reservar espacio */
    border-image: linear-gradient(to right, #814C25, #FFDE59); /* Degradado de izquierda a derecha con dos colores */
    border-image-slice: 1; /* Ajuste para que el gradiente no se extienda al resto de los bordes */
    height: 100px;/*altura del head*/
}
/*logo header NOSE COMO UBICARLO A LA IZQUIERDA*/

.logo img {
    width: 180px;
    border: solid 2px rgb(95, 109, 135);
}


/*-*/
header nav ul {
    list-style: none;
    display: flex;
    gap: 50px; /* Espacio entre elementos de la lista */
    margin-right: 10px;
    margin-left:0px;/*alejo el logo de catalogo*/
    
}

header nav a {
    text-decoration: none;
    color: #ddd2d2;
    font-weight: bold;
}


header.search-container {
    display: flex;
    margin-left:30px;

}

.anuncio-H {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px; 
    color: #ddd2d2;
    background-color:#141354;
    overflow: hidden;
}

