


main {
    background-color: #0D1A2D; /* Puedes ajustar el color oscuro según tu preferencia (#333 es un gris oscuro) */
    color: #fff; /* Esto cambiará el color del texto para asegurarse de que sea legible en un fondo oscuro */
}
    

.boton-gigante {
    font-size: 24px; /* Tamaño del texto del botón */
    padding: 20px 40px; /* Relleno del botón (ajusta según sea necesario) */
    border: solid 1px #fff;
}