
/*MENU*/
/***************************/

:root{
    /*carro productos*/
    --main-color: #fd4646;
    --text-color: #171427;
    --bg--color: #fff0f0;
    /*menu*/
    --bgM-color:#343a40;
    --bgM2-color:rgb(39, 43, 48);
    --lu--color: #ffc10797;
    --V-color: #fff0f0;
    /*oferta*/
    /*nosotros-pregunta ferecuente*/
}
.custom-container {
    padding-top: 80px; 
    padding-bottom: 80px; 
    margin-top: 50px; 
    margin-bottom: 50px; 

}


.card {
    transition: all 0.3s ease; /* cambios de estados en la animación del borde */
    border: 2px solid transparent; 
    border-radius: 8px;
    padding: 10px;
}

/* animación del borde */
@keyframes borderAnimation {
    0% { border-color: #05050586; }
    25% { border-color: #c5e56d; }
    50% { border-color: rgb(212, 254, 133)}
    75% { border-color: rgb(2, 2, 2); }
    100% { border-color: #040404; }
}


.card:hover {
    animation: borderAnimation 2s infinite; 
    transform: scale(1.05);
}


.navbar {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
.navbar {
    position: relative;
    z-index: 2; /* Asegura que el menú esté en un nivel superior */
}

.carousel {
    position: relative;
    z-index: 1; /* Asegura que el carrusel esté en un nivel inferior */
}

.card {
    color: rgba(0, 0, 0, 0.5); /* Cambiar el color del texto a negro con transparencia */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregar sombra al texto */
    background-size: cover; /* Hacer que la imagen de fondo cubra completamente la tarjeta */
    background-position: center; /* Alinear la imagen de fondo al centro */
    border: var(--text-color) 3px solid; /* Establecer un borde con color especificado */
}





