

:root{
    /*carro productos*/
    --main-color: #fd4646;
    --text-color: #171427;
    --bg--color: #fff0f0;
    /*menu*/
    --bgM-color:#343a40;
    --bgM2-color:rgb(39, 43, 48);
    --lu--color: #ffc10797;
    --V-color: #fff0f0;
    /*oferta*/
    /*nosotros-pregunta ferecuente*/
}
body{
    
    margin: 20px;
    position: sticky;
}

h3{
    font-family: ;
    text-align: center;
    padding: 10;
}

.contenedorF {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 3px solid #060606;
}

.contenido {
    display: flex;
    flex-direction: row;
}

.imagen {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.texto {
    margin: 10px;
}

.contF {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    border: 3px solid #161515;
    padding: 20px;
    width: 40%;
    margin: auto;
}

.form-box label, .form-box input, .form-box h3, .form-box p {
    display: block;
    margin: 10px 0;
}