/*****footer*****/
footer {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: 280p;
}

footer .contenedor {
    width: 95%;
    box-sizing: border-box;
    background-image: url('../img/Marble012_2K-JPG_Roughness.jpg');
}

footer .contenedor .box25 {
    width: 25%;
    height: 300px;
    float: left;
    /*izq*/
    box-sizing: border-box;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer .contenedor .box25 p {
    text-align:left;
    color: rgb(238, 238, 238);
    margin-left: 15px;
    margin-top: 15px;
    float: left;

}

footer .contenedor .box25 .cerrado {
    color: rgb(0, 255, 8);
}

footer .contenedor .box25 .titulo {
    color: rgb(238, 238, 238);
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
}

footer .contenedor .box25 .contacto {
    width: 100%;
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    color: rgb(238, 238, 238);
}

footer .contenedor .box25 .contacto .icono {
    width: 30px;
    height: 30px;
}

footer .contenedor .box25 .redesSociales {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    justify-content: space-evenly;
    align-items: baseline;
}

footer .contenedor .box25 .redesSociales a img {
    width: 35px;
}

footer .contenedor .box50 {
    width: 50%;
    height: 230px;
    float: left;
    /*izq*/
    box-sizing: border-box;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer .contenedor .box50 {
    width: 50%;
    height: 230;
    float:left;
    box-sizing: border-box;
    margin-left: 20;
    margin-right: 20;
}
table{
    box-shadow: 0.2rem 0.133333rem 0.133333rem rgba(8, 8, 8, 0.514);
    border: solid 3px var(--text-color);
}