@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Prompt&family=Satisfy&family=Tajawal:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Prompt&family=Tajawal:wght@500;900&display=swap');

@import url('./menu.css');
@import url('./ABBASHOE/css/s-carrusel.css');
@import url('./ABBASHOE/css/footer.css');
@import url('');
@import url('');


:root{
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

* {
    margin: 0;
    /*margenes*/
    padding: 0;
    /*relleno*/
    border: solid 1px rgba(100, 164, 237, 0.652);
}

body {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con 30% de transparencia */
    background-repeat: no-repeat;
    filter: grayscale(0%); /* Quita la saturación de color */
    margin: 20px;
    z-index: -1;
    filter: blur(0px); /* Difumina */
    position: sticky;
}
.contenedor {
    text-align: center;
    width: 40%;
}



h1 {
    font-family: 'Playpen Sans';
    text-align: center;
    background-image: url(../img/Marble012-2k.jpg);
    color: #080808;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.606);
}

h2 {
    font-family: 'Playpen Sans';
    color: #333;
}

p {
    color: #555;
    margin-left: 20px;
}


.cont {
    max-width: 1068px;
    padding: 20px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.402);
    width: 70%;
    height: 70%;
    margin: auto;
    border: #d99c00 3px solid;
    margin-top: 10%;

}



/* Estilos para enlaces no visitados */
a.enlace {
    font-family: 'Playpen Sans';
    color: #d99c00; /* Color del texto del enlace no visitado */
    text-decoration: none; /* Quita la subrayado predeterminado */
    transition: color 0.3s; /* Transición de color al pasar el cursor */
    font-weight: bold;
}

/* Estilos para enlaces cuando el cursor está sobre ellos */
a.enlace:hover {
    color: #FF4136; /* Cambia el color del texto al pasar el cursor */
}

/* Estilos para enlaces visitados */
a.enlace:visited {
    color: #85144b; /* Color del texto del enlace visitado */
}

/* Media queries para estilos responsivos */
@media screen and (max-width: 768px) {
    body {
        margin: 10px;
    }

    .container {
        width: 90%;
    }
}
