
/*imagen carrusel*/
header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

header .contenedor {
    width: 100%;
    margin-top: 65px;
    
}

.carrusel {
    display: flex; /* Muestra las imágenes en línea */
    transition: transform 1s; /* Agrega una transición suave de 1 segundo al cambiar de imagen */
}

.carrusel img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    min-width: 100%; /* Asegura que las imágenes sean siempre al menos tan anchas como el contenedor */
}
