
/*MENU*/



nav .busqueda {
    display: flex;
    align-items: center;
    margin-right: 10px;

}
.nav .contenedor .busqueda {
    order: 1; /* Cambia el orden de la búsqueda */
    /* Otros estilos para el campo de búsqueda */
}

nav .busqueda input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    width: 170px; /* Ancho del campo de búsqueda */
}

nav .busqueda button {
    padding: 5px 10px;
    background-color: rgba(23, 20, 39, 0.929);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

/***************************/

nav {
    width: 100%;
    height: auto;
    position:relative;
    margin: 0;
    justify-content: space-between;
    display: flex;
    text-align: center;
    /*justify-content: flex-start;*/
}

nav .menu {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;

}

nav .menu ul {
    list-style: none;/*sacar cualquier estilo por defecto*/
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    border: solid 2px rgba(225, 0, 255, 0.524);
}

nav .menu ul li {
    float: right;
    height: 50px;
    width: auto;
    margin-right: 10px;/*margen derecho de 1 px*/
    text-align: center;
    line-height: 50px;
    backdrop-filter: blur(3px);

}

nav .menu ul li:hover {
    /*hover es por cada vez que pasa el puntero por cada li*/
    border-radius: 2px;
    box-shadow:
    0px 0px 5px rgb(23, 20, 39, 0.9),
    0px 0px 5px rgb(23, 20, 39, 0.9),
    0px 0px 5px rgb(23, 20, 39, 0.9),
    0px 0px 5px rgb(23, 20, 39, 0.3);

}

nav .menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


nav .menu ul li ul {
    display: none;
    /*ocultamos el menu*/
    position:absolute;
    top: 100%;
    left:0;/**/
}

nav .menu ul li:hover>ul {
     /* Alinearlo a la izquierda del elemento padre */
    display: block;
    margin-top: -1px; /* Un margen negativo  */
}

nav .menu ul li ul li {
    height: 40px;
    width: 300px;
    background-color: #171427cc;
    text-align: start;
    padding-left: 10px;
    line-height: 2; /**/
    
}

nav .menu ul li ul li a {
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

nav .menu ul li ul li:hover {
    background-color: #fd4646;
    box-shadow: 10px 0px rgba(255, 166, 0, 0.49) 
}


@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }
    section {
        padding: 3rem 0 2 rem;
    }
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .shop {
        margin-top: 2rem !important;
    }
}

@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }
    .logo {
        font-size: 1rem;
    }
    .cart {
        width: 320px;
    }
}

@media (max-width: 360px) {
    .shop {
        margin-top: 1rem !important;
    }
    .cart {
        width: 280px;
    }
}