@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}
* {
    margin: 0;
    /*margenes*/
    padding: 0;
    /*relleno*/
}

#seccionPrincipal {
    width: 100%;
    display: flex;
    justify-content: center;
}

#seccionPrincipal .contenedor {
    width: 60%;
    text-align: center;
}

#seccionPrincipal .contenedor h1 {
    font-family: 'Lobster', cursive;
    font-size: 72px;
    color: rgb(0, 15, 89);
}

#seccionPrincipal .contenedor h2 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: rgb(115, 108, 90);
}

#seccionPrincipal .contenedor p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    padding: 10px;
}


/*****baner*****/
header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

header .contenedor {
    width: 100%;
    margin-top: 65px;
}

header .contenedor img{
    width: 100%;
}


/*****formulario*****/
input,
textarea,
select,
button {
    width: 100%;
    min-width: 200px;
    height: 30px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

label {
    color: blue;
    font-size: 20px;
    padding-right: 20px;
}

/*****GAleria*****/
#seccionPrincipal {
    padding-top: 120px;
}

#seccionGaleria {
    width: 100%;
    display: flex;
    justify-content: center;
}

#seccionGaleria .contenedor {
    width: 90%;
    margin-top: 100px;
    display: inline-block;
    justify-content: center;

}

#seccionGaleria .contenedor img {
    width: 23%;
    margin-right: 20px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 7px;
}


/*****G- menu*****/

#grupoMenu{
    width: 100%;
    display: flex;
    justify-content: center;
}

#grupoMenu .contenedor{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

#grupoMenu .contenedor .contenedor_titulo{
    width: 100%;
    padding: 20px;
}
#grupoMenu .contenedor .contenedor_titulo h1{
    font-family: 'Birthstone', cursive;
    font-size: 90px;
    text-align: center;
    color: rgb(9, 146, 15);
    text-shadow: 8px 4px  rgba(223, 243, 42, 0.3);
}

#grupoMenu .contenedor article{
    width: 270px;
    height: 310px;  
    margin: 15px;
    float: left;
    border: 1px solid seagreen;
    box-shadow: 0px 0px 10px 3px rgba(110, 110, 110, 0.2);
    background-color: rgb(252, 252, 252);
}

#grupoMenu .contenedor article:hover{
    border: 1px solid rgb(12, 14, 179);
    box-shadow: 0px 0px 10px 3px rgba(10, 37, 187, 0.2);
    background-color: rgb(218, 218, 218);
}

#grupoMenu .contenedor article .imagen img{
    width: 100%;
    height: 220px;
    align-items: stretch;
}

#grupoMenu .contenedor article .contenedorTexto{
    padding: 5px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

#grupoMenu .contenedor article .contenedorTexto .divisor{
    width: 50%;
    box-sizing: border-box;
}

#grupoMenu .contenedor article .contenedorTexto .divisor a{
    text-decoration: none;
    color: rgb(155, 59, 42);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grupoMenu .contenedor article .contenedorTexto .divisor .burbujaPrecio{
    width: 100%;
    background-color: rgb(50, 53, 205);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: center;
}
#grupoMenu .contenedor article .contenedorTexto .divisor .burbujaPrecio .precio{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grupoMenu .contenedor article .contenedorTexto .titulo{
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
    width: 280px;
}


/*****header principal*****/
header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

header .contenedor {
    width: 100%;
    margin-top: 65px;
}

header .contenedor img{
    width: 100%;
}

/*****menu*****/

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*mi font*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');


/*menu*/
nav {
    width: 100%; /*ancho*/
    height: 180px;/*alto*/
    background-image: url('../img/Marble012_2K-JPG_Color.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-repeat: repeat-x;
    border-bottom: 7px solid var(--text-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra en la parte superior */
}

nav .contenedor .contenedorB {
 /* Centra horizontalmente */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #333; /* Cambia '#333' por el color de fuente que deseas */
}
nav .contenedor {
    width: 50%; /* Ancho del 50% del 'nav' */
    height: auto;
     /* Toma toda la altura del 'nav' */
}
/*BUSQUEDA*/
nav .contenedor .formulario-busqueda {
    margin-right: 3px;
    /*margen derecho de 1 px*/
    line-height: 3;
    display: flex;

}

nav .contenedor .formulario-busqueda input[type="text"] {
    width: 200px; /* Tamaño deseado para el campo de búsqueda */
    height: 30px; /* Ajusta la altura según tus preferencias */
    margin-right: 10px;
    margin-top: 10px; /* Espacio entre el campo de búsqueda y el botón */
}

nav .contenedor .formulario-busqueda button[type="submit"] {
    background-color: var(--text-color);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}
/*FONDO CONTENEDORES*/

nav .contenedor .imgLogo {
    width: 100px; /* tamaño deseado para tu logo */
    height: 80px; /* Mantén la misma altura que el contenedor  */
    float: left;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

nav .contenedor .imgLogo img {
    max-height: 100%;
    float: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-bottom: 5px solid rgb(255, 255, 255);
}


nav .contenedorB {
    width: 100%; 
    height: auto;
    position:absolute;
    right: 0;
    margin-top: 140px;
}

nav .contenedorB .menu {
    box-sizing: border-box;
}

nav .contenedorB .menu ul {
    list-style: none;
    /*sacar cualquier estilo por defecto*/
    box-sizing: border-box;
}

nav .contenedorB .menu ul li {
    float: left;
    height: 50px;
    width: 180px;
    margin-right: 3px;
    /*margen derecho de 1 px*/
    line-height: 3;
    text-align: center;
    transition: background-color 0.3s ease;
}

nav .contenedorB .menu ul li:hover {
    /*hover es por cada vez que pasa el puntero por cada li*/
    background-color: rgba(0, 0, 0, 0.871);
    cursor: pointer;
    border-radius: 4px; /*esquinas redondas xd*/
    
}

nav .contenedorB .menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    /*font-family: 'Anton', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.98);
}

nav .contenedorB .menu ul li ul {
    display: none;
    /*ocultamos el menu*/
}

nav .contenedorB .menu ul li:hover>ul {
    
    /*cuando pasa el punto por el elemento li, mostramos el sub-menu*/
    display: block;
}

nav .contenedorB .menu ul li ul li {
    height: 33px;
    width: 300px; /*tamaño del sub menu*/
    background-color: rgba(0, 0, 0, 0.871);
    text-align: start;
    padding-left: 10px;
    line-height: 2;
    
}

nav .contenedorB .menu ul li ul li a {
    text-decoration: none;
    color: rgb(228, 228, 228);
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

nav .contenedorB .menu ul li ul li:hover {
    background-color:rgba(147, 6, 6, 0.977);
    box-shadow: 10px 0px rgb(233, 9, 9);
    cursor: pointer;
}
/*eje y -1 desplaza hacia arriba- positivo desplasa hacia abajo
*/


/*****ACCION DE SERV*****/
#seccionServicios {
    width: 100%;
    display: flex;
    justify-content: center;
}

#seccionServicios .contenedor {
    width: 90%;
    margin-top: 100px;
    display: flex;
}

#seccionServicios .contenedor h1 {
    color: black;
    text-align: center;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    border-radius: 5px;
    background-color: rgb(255, 247, 0);
}

#seccionServicios .contenedor p {
    color: aliceblue;
    padding: 7px;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    font-size: 20;
}

/*Alojamiento*/
#seccionServicios .contenedor .cadaDivisorLaboratorio {
    width: 23%;
    margin-right: 20px;
    height: 400px;
    background-image: url('../imagenes/seccionLaboratorio.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 7px;
}

#seccionServicios .contenedor .cadaDivisorLaboratorio:hover {
    border-radius: 20px;
}

/*Dia de Campo*/
#seccionServicios .contenedor .cadaDivisorRadiologia {
    width: 23%;
    margin-right: 20px;
    height: 400px;
    background-image: url('../imagenes/seccionRadiologia.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 7px;
}

#seccionServicios .contenedor .cadaDivisorRadiologia:hover {
    border-radius: 20px;
}

/*Eventos*/
#seccionServicios .contenedor .cadaDivisorHemoterapia {
    width: 23%;
    margin-right: 20px;
    height: 400px;
    background-image: url('../imagenes/seccionhEMOTERAPIA.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 7px;
}

#seccionServicios .contenedor .cadaDivisorHemoterapia:hover {
    border-radius: 20px;
}

/*Restaurant*/
#seccionServicios .contenedor .cadaDivisorCirugia {
    width: 23%;
    margin-right: 20px;
    height: 400px;
    background-image: url('../imagenes/seccionCirugia.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 7px;
}

#seccionServicios .contenedor .cadaDivisorCirugia:hover {
    border-radius: 20px;
}

/******carrusel*****/
.section-carrusel {
    background: #ffffff;
    text-align: center;
    padding: 3px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    overflow: hidden; /* Para ocultar el contenido que se desborda */
    position: relative; /* Para posicionar el carrusel */
}

.text-carousel {
    width: 100%; /* Ancho al 100% del contenedor */
    height: 50px; /* Altura del carrusel */
    overflow: hidden; /* Ocultar el contenido que excede el tamaño del carrusel */
    position: relative; /* Establecer posición relativa para los elementos hijos */
}

.text-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.text-slide.active {
    opacity: 1;
}