
.pie-pagina {
    background-color: #091220; /* Cambia el color de fondo según tus preferencias */
}
.decoracionfooter {
    border-top: 4px solid transparent; /* Borde superior transparente para reservar espacio */
    border-image: linear-gradient(to right, #814C25, #FFDE59); /* Degradado de izquierda a derecha con dos colores */
    border-image-slice: 1; /* Ajuste para que el gradiente no se extienda al resto de los bordes */
}
.box {
    margin-bottom: 20px;
}

.titulo {
    margin-bottom: 10px;
}

.redes-sociales a {
    margin-right: 10px; /* Espaciado entre iconos de redes sociales */
}

.redes-sociales a:last-child {
    margin-right: 0; /* No aplicar margen derecho al último icono */
}